[application]
url = http://localhost/index.html

[screen]
width = 1920
height = 1080
x = 0
y = 0

[webbrowser]
executable = /usr/bin/chromium
kiosk = true
fullscreen = true
disk_cache_dir = /dev/null
logging = stderr
#verbosity =
pinch = false
#options =
